<h1><%= @author.name %></h1>

<p>by <%= link_to "New Post", new_author_post_path(@author) 
    if @post.author %> 
    (<%= link_to 'Edit Post', edit_author_post_path(@post.author, @post) 
    if @post.author %>)
</p>
<br>

<p>Posts:</p>
<% @author.posts.each do |post| %>
    <div><%= post.title %></div>
<% end %>
